In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("rfm_rank_dataset.csv")
df

,Customer ID,Recency,Frequency,Monetary,R_rank_norm,F_rank_norm,M_rank_norm,RFM_Score,Rank
0,1,24,18,41.68,19.78,87.10,87.10,3.85,3
1,2,28,4,14.43,8.21,34.20,34.20,1.51,1
2,3,18,10,125.39,38.89,68.82,68.82,3.22,3
3,4,16,9,31.31,45.64,64.85,64.85,3.10,3
4,5,1,3,16.75,96.42,24.70,24.70,1.77,2
...,...,...,...,...,...,...,...,...,...
245,246,13,9,53.01,56.58,64.85,64.85,3.18,3
246,247,8,4,61.16,72.79,34.20,34.20,2.00,2
247,248,10,5,35.84,65.30,42.45,42.45,2.29,2
248,249,1,12,19.98,96.42,75.41,75.41,3.93,3
249,250,10,8,45.16,65.30,60.34,60.34,3.05,3

In [3]:
X = df[['Recency', 'Frequency', 'Monetary', 'R_rank_norm', 'F_rank_norm', 'M_rank_norm', 'RFM_Score']]
y = df['Rank']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2, random_state = 0)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [6]:
target_names = ['1','2','3','4','5']
dt = DecisionTreeClassifier()
model = dt.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [7]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        10
           2       1.00      0.88      0.94        17
           3       0.82      1.00      0.90         9
           4       1.00      1.00      1.00        12
           5       1.00      1.00      1.00         2

    accuracy                           0.96        50
   macro avg       0.96      0.98      0.97        50
weighted avg       0.97      0.96      0.96        50

In [8]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)
modelKNN = KNN.fit(X_train,y_train)
y_pred_KNN = modelKNN.predict(X_test)

In [9]:
print(classification_report(y_test, y_pred_KNN, target_names=target_names))

              precision    recall  f1-score   support

           1       0.89      0.80      0.84        10
           2       0.86      0.71      0.77        17
           3       0.53      0.89      0.67         9
           4       0.90      0.75      0.82        12
           5       1.00      1.00      1.00         2

    accuracy                           0.78        50
   macro avg       0.84      0.83      0.82        50
weighted avg       0.82      0.78      0.79        50

In [10]:
import joblib
joblib.dump(model,'classification_model.pkl')

['classification_model.pkl']